# Ignore .log files in any tb folder
code/*.log

# Ignore qaLog.txt specifically
code/qaLog.txt

# Ignore .simvision directory
code/.simvision/

# Ignore xrun.key and xrun.history
code/xrun.key
code/xrun.history

# Ignore coverage and xcelium directories
code/cov_work/
code/xcelium.d/

code/waves.shm/